@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #707070;
  }
  #titulo{
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: aqua;
  }